@font-face {
    font-family: "wixmadefordisplay";
    src: url("../fonts/WixMadeforDisplay-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "wixmadefordisplay";
    src: url("../fonts/WixMadeforDisplay-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "wixmadefordisplay";
    src: url("../fonts/WixMadeforDisplay-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "wixmadefordisplay";
    src: url("../fonts/WixMadeforDisplay-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "wixmadefordisplay";
    src: url("../fonts/WixMadeforDisplay-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}